@font-face {
    font-family: "Aller";
    src: url("./Aller_Rg.ttf");
}

body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Aller', sans-serif;
    text-shadow: 1px 1px #328b9a;
    font-weight: bold;
    overflow: hidden;
    height: 100vh;
}

body.scrolling {
    -webkit-mask-image: linear-gradient(to right, black 90%, transparent 100%);
}

p {
    margin: 0;
    padding: 0;
    padding-left: 5px;
    max-width: calc(100% - 10px);
    font-size: 38px;
    /*line-height: 42px;*/
    white-space: nowrap;
    /*text-transform: uppercase;*/
    position: absolute;
    top: 0;
    left: 0;
    transition-property: none;
    transition-timing-function: cubic-bezier(0.18, 0, 0.85, 1);
}

#very-large {
    width: 100vw;
}

#nowplaying-container span {
    display: block;
    text-wrap: none;
    text-overflow: ellipsis;
    overflow: hidden;
}
