<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>PonyFest Music Player</title>
    </head>
    <body>
    <p id="nowplaying-container">
        <span id="nowplaying"></span>
    </p>
    </body>
</html>
