@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px #328b9a;
    overflow: hidden;
    height: 100vh;
}

body.scrolling {
    -webkit-mask-image: linear-gradient(to right, black 90%, transparent 100%);
}

p {
    margin: 0;
    padding: 0;
    padding-left: 30px;
    font-size: 50px;
    white-space: nowrap;
    /*text-transform: uppercase;*/
    position: absolute;
    top: 0;
    left: 0;
    transition-property: none;
    transition-timing-function: cubic-bezier(0.18, 0, 0.85, 1);
}

#very-large {
    width: 100vw;
}