@font-face {
    font-family: "TemplateGothic";
    src: url(./TemplateGothicBold.woff2);
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
    color: #88e57e;
    font-family: 'TemplateGothic', sans-serif;
    /*text-shadow: 1px 1px #328b9a;*/
    font-weight: bold;
    overflow: hidden;
    height: 100vh;
}

.scrolling {
    -webkit-mask-image: linear-gradient(to right, black 90%, transparent 100%);
}

p {
    margin: 0;
    padding: 0;
    /*padding-left: 10px;*/
    /*max-width: calc(100% - 1px);*/
    font-size: 50px;
    line-height: 50px;
    white-space: nowrap;
    /*text-transform: uppercase;*/
    position: absolute;
    top: 0;
    left: 0;
    transition-property: none;
    transition-timing-function: cubic-bezier(0.18, 0, 0.85, 1);
}

#very-large {
    width: 100vw;
}

.nowplaying-container span {
    display: block;
    text-wrap: none;
    /*text-overflow: ellipsis;*/
    /*position: relative;*/
    /*overflow: hidden;*/
}

.nowplaying-container {
    /*width: 100vw;*/
}

.container {
    text-wrap: none;
    position: relative;
    width: 100vw;
    height: 55px;
}
